body {
    padding-top: 10%;
}

.carousel-div {
    height: 230px;
}

.sliderbox {
    border: 2px solid black;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item{
    align-content: center;
}

.tag-bg{
    background-color: #E0F4FB;
}

.tag-tekst{
    color: #4F72ED;
    font-weight: bold;
}

.carousel{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width: 992px) {
    .carousel{
        margin: auto;
    }
}