body {
    padding-top: 75px;
}

.center-tekst{
    text-align: center;
}

.body-woning{
    margin-left: 5%;
}

.row-woning{
    max-width: 95%;
}

.medewerker{
    text-align: center;
}

.top-tekst{
    text-align: center;
}


.top-tekst-woning{
    text-align: center;
    margin-top: 6%; 
}

.h3-tekst{
    text-align: center;
    margin-top: 3%;
    color: blue;
}

.content{
width: 100%;
margin-right: auto;
margin-left: auto;
padding-right: 15%;
padding-left: 15%;
}

.container-white {
    background-color: white;
    width: 75%;
    padding-top: 3%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-size: 30px;
    padding-top: 10px;
}

.card-body{
    background-color: whitesmoke;
}

.pagination {
    justify-content: center;
}

.error {
    color: red;
    font-size: 11px;
}

.success {
    color: blue;
    font-size: 11px; 
}