body {
    padding-top: 8%;
}

.center-tekst{
    text-align: center;
}

.body-woning{
    margin-left: 5%;
}

.row-woning{
    max-width: 95%;
}

.medewerker{
    text-align: center;
}

.top-tekst{
    text-align: center;
}


.top-tekst-woning{
    text-align: center;
    margin-top: 6%; 
}

.h3-tekst{
    text-align: center;
    margin-top: 3%;
    color: blue;
}

.bold{
    font-weight: bold;
}

.content{
width: 100%;
margin-right: auto;
margin-left: auto;
padding-right: 15%;
padding-left: 15%;
}

.container-white {
    background-color: white;
    width: 75%;
    padding-top: 3%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.pand{
    margin-bottom: 0.5%;
    border: solid 2px lightgray;
    height: 260px;
    background-color: whitesmoke;
}

.pand-tekst{
    padding-top: 2%;
}

.pand-pic{
    width: 350px;
    height: 260px;
    padding-bottom: 1%;
    object-fit: contain;
}

.btn {
    margin-left: 2%;
}

.title {
    font-size: 30px;
    padding-top: 10px;
}

.tag-bg{
    background-color: #E0F4FB;
}

.line{
    max-width: 100%;
}

.tag-tekst{
    color: #4F72ED;
    font-weight: bold;
}

.carousel{
    height: 500px;
    width: 750px;
    object-fit: contain;
}

.beschrijving{
    margin-left: 10%;
    max-width: 50%;
}

.col-md-8{
    max-width: 55%;
}

.card{
    background-color: whitesmoke;
}

.card-body{
    background-color: whitesmoke;
}

.card-footer{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

btn-primary{
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    justify-content: center;
}

.error {
    color: red;
    font-size: 11px;
}

.success {
    color: blue;
    font-size: 11px; 
}