.navbar-custom {
    color: #fff;
    background-color: #4F72ED;
    border-bottom: solid 2px black;
}

.navbar-custom a {
    color: #fff;
}

body {
    padding-top: 54px;
    background-repeat: repeat-x;
    background-color: white;
}

.top-tekst{
    text-align: center;
    margin-top: 6%; 
}

.container-white {
    background-color: white;
    width: 75%;
    padding-top: 3%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.pand{
    margin-bottom: 0.5%
}

.pand-pic{
    border-right: solid 2px black;
}

.btn {
    margin-left: 2%;
}

.sliderbox {
    margin-top: 10%;
    border: 4px solid black;
}

.cert {
    border: solid 3px black;
}

.title {
    font-size: 30px;
}

.tag-bg{
    background-color: #E0F4FB;
    border: solid 2px black;
}

.tag-tekst{
    color: #4F72ED;
    font-weight: bold;
}

.card{
    border: solid 2px black;
}

.card-body{
    border-bottom: solid 1px black;
    background-color: whitesmoke;
}

.card-footer{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

btn-primary{
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    justify-content: center;
}

.footer-custom {
  border-top: solid 2px black;
  color: #fff;
  background-color: #4F72ED;
}

.ulfooter {
  list-style-type: none;
  padding: 0;
  margin: 0;
}