body {
    background-color: #E0F4FB;
    background-image: url("img/bg.jpg");
    background-repeat: repeat-x;
}

.container-div{
    width: 80%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.huurenbeheer_div{
    margin-left: -15%;
    width: 35%;
    height: 100%;
    float: left;
    text-align: center;
}

.taxatie_div{
    margin-right: 6%;
    width: 35%;
    height: 100%;
    float: right;
    text-align: center;
}

.huurenbeheer{
    margin-top: 15%;
    font-size: 250px;
    margin-bottom: 7%;
    width: 150%;
}

.taxatie{
    margin-top: 15%;
    font-size: 250px;
    margin-bottom: 7%;
    width: 150%;
}

h2{
    color: white;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}