.navbar-custom {
    background-color: #4F72ED;
    border-bottom: solid 1px black;
}

.navbar-custom  a {
    color: #fff;
}

.navbar-custom  a:hover {
    text-decoration: underline;
    color: #fff;
}

.active{
    text-decoration: underline;
}

.toggle-icon {
    max-height: 40px;
    max-width: 40px;
    justify-content: center;
}

.fa-bars {
    color: #fff;
}

@media screen and (max-width: 992px) {
    .nav-logo{
    }
}