.fa-chevron-right{
    color: black;
}

.fa-chevron-left{
    color: black;
}

.carousel{
    width: auto;
    height: 450px;
    max-height: 450px;
}

.map-responsive-woning{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive-woning iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
