html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
}

@media (min-width: 992px) {
  body {
    padding-top: 110px;
  }
}

.btn-space {
    margin-right: 5px;
}

.navbar-custom {
    color: #fff;
    background-color: #4F72ED;
}

.navbar-custom a {
    color: #fff;
}

.footer-custom {
  color: #fff;
  background-color: #4F72ED;
}

.ulfooter {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}
