html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 100px;
}

@media (min-width: 992px) {
  body {
    padding-top: 110px;
  }
}

.fa-bars {
  color: white;
}

.btn-space {
    margin-right: 5px;
}

.navbar-custom {
    color: #fff;
    background-color: #4F72ED;
}

.navbar-custom a {
    color: #fff;
}

.footer-custom {
  color: #fff;
  background-color: #4F72ED;
}

.ulfooter {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination {
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-responsive-footer{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive-footer iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.error {
    color: red;
    font-size: 11px;
}

.success {
    color: blue;
    font-size: 11px;
}
